<div mat-dialog-title>Obecność studentów</div>
<div mat-dialog-content>
  <form>
    @for (attendance of attendances; track attendance) {
      <div class="attendance-row">
        <div class="student-info">
          {{ attendance.student.id }} - {{ attendance.student.firstName }} {{ attendance.student.lastName }}
        </div>
        <mat-checkbox [(ngModel)]="attendance.isPresent" [name]="'attendance-' + attendance.student.id">
          Obecny
        </mat-checkbox>
      </div>
    }
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="onSubmit()">Zapisz obecność</button>
</div>
