<div class="room-container">
  <h2>Dostępne sale</h2>

  @if (rooms.length === 0) {
    <div class="no-rooms">
      Brak dostępnych sal w tym terminie
    </div>
  }

  @if (rooms.length > 0) {
    <div class="room-cards">
      @for (room of rooms; track room) {
        <mat-card class="room-card">
          <mat-card-title>{{ room.building }}</mat-card-title>
          <mat-card-content>
            <p>Piętro: {{ room.floor }}</p>
            <p>Pokój: {{ room.roomNumber }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="reserveRoom(room.id!)">Wybierz</button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  }
</div>
