<h2 mat-dialog-title>{{ data.tutoringClassName }}</h2>
<mat-dialog-content>
  <p><strong>Data:</strong> {{ data.classDateFrom.toFormat('dd-MM-yyyy') }}</p>
  <p><strong>Czas:</strong> {{ data.classDateFrom.toFormat('HH:mm') }} - {{ data.classDateTo.toFormat('HH:mm') }}</p>
  <p><strong>Online:</strong> {{ data.isOnline ? 'Tak' : 'Nie' }}</p>
  <div *ngIf="data.room!=null">
    <p><strong>Budynek:</strong> {{ data.room.building }}</p>
    <p><strong>Piętro:</strong> {{ data.room.floor }}</p>
    <p><strong>Pokój:</strong> {{ data.room.roomNumber }}</p>
  </div>
  <p *ngIf="data.isCanceled"><strong>Status:</strong> Odwołane</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="!data.isCanceled" mat-raised-button class="canceled" (click)="openCancelSchedule(data)">Odwołaj</button>
  <button mat-raised-button color="primary" (click)="close()">Zamknij</button>
</mat-dialog-actions>
