<div class="calendar-container">
  <div class="calendar">
    <div class="calendar-header">
      <div class="calendar-header-month">
          {{firstDayOfActiveMonth().monthShort}}
          {{firstDayOfActiveMonth().year}}
      </div>
      <div class="calendar-header-controlls">
        <div class="calendar-header-contol" (click)="goToPreviousMonth()">Poprzedni</div>
        <div class="calendar-header-contol calendar-header-control-today" (click)="goToToday()">Dzisiaj</div>
        <div class="calendar-header-contol" (click)="goToNextMonth()">Następny</div>
      </div>
    </div>
    <div class="calnedar-weeks-grid">
      @for (weekDay of weekDays(); track $index) {
        <div class="calnedar-weeks-grid-cell">{{weekDay}}</div>
      }
    </div>
    <div class="calendar-grid">
      @for (dayOfMonth of daysOfMonth(); track $index) {
        <div [ngClass]="{ 
          'calendar-grid-cell': true, 
        'calendar-calendar-grid-cell-active':
          activeDay()?.toISODate() === dayOfMonth.toISODate(),
        'calendar-calendar-grid-cell-inactive':
          dayOfMonth.month !== firstDayOfActiveMonth().month}" (click)="activeDay.set(dayOfMonth)">{{dayOfMonth.day}}</div>
      }
    </div>
  </div>
  <div class="schedule">
    <div class="schedule-header">
      @if(activeDay(); as activeDay){
        <div>{{activeDay.toLocaleString(DATE_MED)}}</div>
      } @else {
        <div>Proszę wybrać datę</div>
      }
    </div>
    <div>
      @if (activeDay() && activeDayClasses().length === 0){
        <div>Nie masz żanych zajęć tego dnia</div>
      }

      @if (activeDay() && activeDayClasses().length > 0){
        @for (class of activeDayClasses(); track $index) {
          <div>Zajęcia: {{ class.tutoringClassName }}</div>
          <div>Od: {{ class.classDateFrom.toFormat('HH:mm') }}</div>
          <div>Do: {{ class.classDateTo.toFormat('HH:mm') }}</div>
          <div>Online: {{ class.isOnline ? 'Tak' : 'Nie' }}</div>
        }
      }
    </div>
  </div>
</div>