<h2 mat-dialog-title>Rozpocznij kurs: {{data.course.courseName}}</h2>
<mat-dialog-content>
  <form [formGroup]="startCourseForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="text" matInput placeholder="Wybierz nauczyciela*"
        [matAutocomplete]="studentAuto" formControlName="teacher" required>
        <mat-autocomplete #studentAuto="matAutocomplete" [displayWith]="displayTeacher">
          @for (teacher of filteredTeachers | async; track teacher) {
            <mat-option [value]="teacher">
              {{ teacher.id }} - {{ teacher.firstName }} {{ teacher.lastName }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    <mat-divider></mat-divider>

    <div class="form-section">
      <h3>Zajęcia</h3>
      <mat-form-field>
        <input type="text" matInput placeholder="Nazwa zajęć" formControlName="className" required>
      </mat-form-field>

      <mat-form-field>
        <input type="text" matInput placeholder="Wybierz przedmiot*"
          [matAutocomplete]="subjectAuto" formControlName="subject" required>
          <mat-autocomplete #subjectAuto="matAutocomplete" [displayWith]="displaySubject">
            @for (subject of filteredSubjects | async; track subject) {
              <mat-option [value]="subject">
                {{ subject.subjectName }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <div class="form-section">
      <h3>Termin zajęć</h3>
      <mat-form-field>
        <mat-label>Dzień zajęć</mat-label>
        <mat-select formControlName="dayOfWeek" required>
          @for (day of days; track day) {
            <mat-option [value]="day">
              {{ day }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="time" placeholder="Od godziny" formControlName="timeFrom" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="time" placeholder="Do godziny" formControlName="timeTo" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="datepicker" placeholder="Wybierz datę zakończenia" formControlName="repeatUntil">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>

      <mat-checkbox formControlName="isOnline">Czy zajęcia mają być zdalne?</mat-checkbox>
    </div>

    <div class="button-group">
      <button mat-button type="button" (click)="dialogRef.close()">Anuluj</button>
      <button mat-raised-button color="primary" type="submit">Wyślij</button>
    </div>
  </form>
</mat-dialog-content>
