<div class="form-container">
  <h1>Wyślij prośbę do nauczycieli</h1>
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    
    <!-- Pole wyboru ucznia -->
    <mat-form-field>
      <input type="text" matInput placeholder="Wybierz ucznia"
             [matAutocomplete]="studentAuto" formControlName="student">
      <mat-autocomplete #studentAuto="matAutocomplete" [displayWith]="displayStudent">
        <mat-option *ngFor="let student of filteredStudents | async" [value]="student">
          {{ student.id }} - {{ student.firstName }} {{ student.lastName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
    <!-- Pole wyboru przedmiotu -->
    <mat-form-field>
      <input type="text" matInput placeholder="Wybierz przedmiot"
             [matAutocomplete]="subjectAuto" formControlName="subject">
      <mat-autocomplete #subjectAuto="matAutocomplete" [displayWith]="displaySubject">
        <mat-option *ngFor="let subject of filteredSubjects | async" [value]="subject">
          {{ subject.subjectName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    
    <!-- Pole boolean: Powtarzać zajęcia? -->
    <mat-checkbox formControlName="repeat">Powtarzać zajęcia?</mat-checkbox>
    
    <!-- Przyciski: Anuluj, Wyślij -->
    <div class="button-group">
      <button mat-button type="button" (click)="resetForm()">Anuluj</button>
      <button mat-raised-button color="primary" type="submit">Wyślij</button>
    </div>
    
  </form>
</div>
