<header class="header">
  <div class="container">
    <nav class="vertical-navbar">
      <ul>
        <div class="logo-container">
          <img src="../assets/logo/logo.png" class="logo-image">
          <p class="logo-text">PoSzkole</p>
        </div>
        <hr class="divider">
        @if(authService.isLoggedIn()){
          @if (currentUserIsStudent){
            <div class="student-navbar">
              <p>Uczeń</p>
              <li><a routerLink="/student-schedule">Harmonogram ucznia</a></li>
              <li><a routerLink="/student-courses">Kursy</a></li>
              <li><a routerLink="/attendance">Obecność</a></li>
            </div>
          }
          @if (currentUserIsTeacher){
            <div class="teacher-navbar">
              <p>Nauczyciel</p>
              <li><a routerLink="/teacher-schedule">Harmonogram nauczyciela</a></li>
              <li><a routerLink="/request-list">Decyzje</a></li>
            </div>
          }
          @if (currentUserIsManager){
            <div class="manager-navbar">
              <p>Kierownik</p>
              <li><a routerLink="/request-form">Nowe zajęcia</a></li>
              <li><a routerLink="/teachers">Nauczyciele</a></li>
              <li><a routerLink="/students">Uczniowie</a></li>
              <li><a routerLink="/manager-courses">Kursy</a></li>
            </div>
          }
      }
      </ul>
      <div class="auth-links">
        <ul>
          @if(authService.isLoggedIn()){
            <li><a routerLink="/my-profile">Konto</a></li>
            <li><a (click)="authService.logout(); reloadRoles()">Wyloguj</a></li>
          }
          @else {
            <li><a routerLink="/login">Zaloguj się</a></li>
            <li><a routerLink="/register">Zarejestruj się</a></li>
          }
        </ul>
      </div>
    </nav>
  </div>
</header>

<main>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</main>
