<h1 mat-dialog-title>Przyjmij prośbę ucznia {{data.studentId}} - {{data.studentName}}</h1>
<div class="form-container" mat-dialog-content>
  <h1>Utwórz zajęcia</h1>
  <form [formGroup]="admitRequestForm" (ngSubmit)="onSubmit(data.requestId)">

    <mat-form-field [formGroup]="tutoringClassFormGroup">
      <input type="text" matInput placeholder="Nazwa zajęć" formControlName="className" required>
    </mat-form-field>

    <mat-form-field [formGroup]="dayAndTimeFormGroup">
      <mat-label>Dzień zajęć</mat-label>
      <mat-select formControlName="day" required>
        <mat-option *ngFor="let day of days" [value]="day">
          {{ day }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field [formGroup]="dayAndTimeFormGroup">
      <input matInput type="time" placeholder="Od godziny" formControlName="timeFrom" required>
    </mat-form-field>

    <mat-form-field [formGroup]="dayAndTimeFormGroup">
      <input matInput type="time" placeholder="Do godziny" formControlName="timeTo" required>
    </mat-form-field>

    <mat-checkbox formControlName="isOnline">Czy zajęcia mają być zdalne?</mat-checkbox>

    <div class="button-group" mat-dialog-actions>
      <button mat-button type="button" (click)="closePopup()">Anuluj</button>
      <button mat-raised-button color="primary" type="submit">Zatwierdź</button>
    </div>

  </form>
</div>
