<div class="room-container">
  <h2>Aktywne zajęcia z przedmiotu: {{data.subject.subjectName}}</h2>
  <br>

  @if (tutoringClasses.length === 0) {
    <div class="no-rooms">
      Brak zajęć w tym terminie
    </div>
  }

  @if (tutoringClasses.length > 0) {
    <div class="room-cards">
      @for (tutoringClass of tutoringClasses; track tutoringClass) {
        <mat-card class="room-card">
          <mat-card-title>{{ tutoringClass.className }}</mat-card-title>
          <mat-card-content>
            <p>Przedmiot: {{ tutoringClass.subject?.subjectName }}</p>
            <p>Liczba uczniów: {{ tutoringClass.numberOfStudents }}</p>
            <p>Następne zajęcia: {{ tutoringClass.nextClassSchedule?.classDateFromFormatted ?? 'brak' }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary" (click)="addStudentToClass(tutoringClass.id!)">Wybierz</button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  }
</div>