<h1 mat-dialog-title>Przyjmij prośbę ucznia {{data.studentName}}</h1>
<div class="form-container" mat-dialog-content>
  <h1>Utwórz zajęcia</h1>
  <form [formGroup]="admitRequestForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input type="text" matInput placeholder="Nazwa zajęć" formControlName="className" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Dzień zajęć</mat-label>
      <mat-select formControlName="day" required>
        <mat-option *ngFor="let day of days" [value]="day">
          {{ day }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Od godziny" type="datetime-local" formControlName="timeFrom" required>
      <mat-datepicker-toggle matSuffix [for]="timepickerFrom"></mat-datepicker-toggle>
      <mat-datepicker #timepickerFrom time></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Do godziny" type="datetime-local" formControlName="timeTo" required>
      <mat-datepicker-toggle matSuffix [for]="timepickerTo"></mat-datepicker-toggle>
      <mat-datepicker #timepickerTo time></mat-datepicker>
    </mat-form-field>

    <mat-checkbox formControlName="isOnline">Czy zajęcia mają być zdalne?</mat-checkbox>

    <div class="button-group" mat-dialog-actions>
      <button mat-button type="button" (click)="closePopup()">Anuluj</button>
      <button mat-raised-button color="primary" type="submit">Zatwierdź</button>
    </div>

  </form>
</div>
