<div class="table-container">
  <h2>Lista próśb</h2>

  <table mat-table [dataSource]="this.dataSource" matSort>

    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Uczeń</th>
      <td mat-cell *matCellDef="let request"><button mat-button>{{ request.student.id }} - {{ request.student.firstName }} {{ request.student.lastName }}</button></td>
    </ng-container>

    <ng-container matColumnDef="subject.subjectName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Przedmiot</th>
      <td mat-cell *matCellDef="let request">{{ request.subject.subjectName }}</td>
    </ng-container>

    <ng-container matColumnDef="repeatUntil">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data zakończenia zajęć</th>
      <td mat-cell *matCellDef="let request">
        {{ request.repeatUntil ? (request.repeatUntil | date: 'dd.MM.yyyy') : 'Jednorazowe' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="prefersIndividual">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preferuje indywidualnie</th>
      <td mat-cell *matCellDef="let request">{{ request.prefersIndividual ? 'Tak' : 'Nie' }}</td>
    </ng-container>

    <ng-container matColumnDef="prefersLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Preferowany tryb zajęć</th>
      <td mat-cell *matCellDef="let request">
        {{ request.prefersLocation === 'ONLINE' ? 'Zdalnie' : (request.prefersLocation === 'INDIVIDUAL' ? 'Stacjonarnie' : 'Brak preferencji') }}
      </td>
    </ng-container>

    <ng-container matColumnDef="issueDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data utworzenia</th>
      <td mat-cell *matCellDef="let request">
        {{ request.issueDate | date: 'dd.MM.yyyy' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Akcje</th>
      <td mat-cell *matCellDef="let request">
        <button mat-button color="primary" (click)="openPopup(request.student.id, request.student.firstName + ' ' + request.student.lastName)">Akceptuj</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="UnadmittedDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: UnadmittedDisplayedColumns;"></tr>
  </table>

  <mat-paginator [length]="totalRequests" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" aria-label="Wybór liczby wierszy" (page)="loadNotAdmittedRequests()" #paginator></mat-paginator>
</div>
<app-request-admitted-list></app-request-admitted-list>
