<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tworzenie zajęć</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/layout.css" th:href="@{/css/layout.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/home.css" th:href="@{/css/createClass.css}">
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="content">
<h1>Tworzenie zajęć</h1>
    <form th:action="@{/classes/create}" method="post">
        <div>
            <label for="student">Uczeń:</label>
            <select id="student" name="student" required>
                <option value="" disabled selected>Wybierz ucznia</option>
                <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.id} + ' - ' + ${student.firstName} + ' ' + ${student.lastName}"></option>
            </select>
        </div>
        <div>
            <label for="subject">Przedmiot:</label>
            <select id="subject" name="subject" required>
                <option value="" disabled selected>Wybierz przedmiot</option>
                <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
            </select>
        </div>
        <div>
            <button type="submit">Wyślij</button>
            <button type="button" onclick="window.location.href='/home';">Anuluj</button>
        </div>
    </form>
</div>
</body>
</html>