<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base href="/">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/navbar.css" th:href="@{../static/css/navbar.css}">
</head>
<body>
<nav class="navbar" th:fragment="navbar">
    <div class="navbar-header">
        <h1>PoSzkole</h1>
    </div>
    <ul class="navbar-menu">
        <li th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}">
            <a th:href="@{/classes/{username}(username=${#authentication.name})}">Sprawdź zajęcia</a>
        </li>
        <li th:if="${#authorization.expression('hasRole(''ROLE_MANAGER'')')}">
            <a th:href="@{/classes/create}">Stwórz zajęcia</a>
        </li>
        <li th:if="${#authorization.expression('hasRole(''ROLE_TEACHER'')')}">
            <a th:href="@{/requests}">Prośby</a>
        </li>
    </ul>
    <div class="navbar-footer">
        <p th:text="${#authentication.name}"></p>
        <a th:href="@{/logout}">Wyloguj</a>
    </div>
</nav>
</body>
</html>