<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prośby</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/layout.css" th:href="@{/css/layout.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/requests.css" th:href="@{/css/requests.css}">
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="content">
<h1>Prośby do nauczyciela</h1>
<table>
    <thead>
    <tr>
        <th>Uczeń</th>
        <th>Przedmiot</th>
        <th>Data wystawienia</th>
        <th>Opcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${requests}">
        <td th:text="${request.idStudent.id + ' - ' +request.idStudent.firstName + ' ' + request.idStudent.lastName}"></td>
        <td th:text="${request.idSubject.name}"></td>
        <td th:text="${request.issueDate}"></td>
        <td>
            <button th:if="!${request.admissionDate}" th:onclick="'approveRequest(' + ${request.id} + ')'">Przyjmij</button>
        </td>
    </tr>
    </tbody>
</table>
</div>
<script>
    function approveRequest(requestId) {
        fetch(`/requests/approve/` + requestId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(response => {
            if (response.ok) {
                response.text().then((message) => {
                    alert(message);
                    location.reload();
                });
            } else {
                response.text().then((errorMessage) => {
                    alert('Failed to approve request: ' + errorMessage);
                });
            }
        }).catch(error => {
            alert('An error occurred: ' + error.message);
        });
    }
</script>
</body>
</html>