
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 382px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 400px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}