<h1 mat-dialog-title>Rejestracja nauczyciela</h1>
<form [formGroup]="registerTeacherForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div>
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput formControlName="username" />
        @if (registerTeacherForm.get('username')?.hasError('minlength')) {
          <mat-error>
            Login musi mieć co najmniej 4 znaki
          </mat-error>
        }
        @if (registerTeacherForm.get('username')?.hasError('usernameTaken')) {
          <mat-error>
            Ta nazwa użytkownika jest już zajęta
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input matInput type="password" formControlName="password" />
        @if (registerTeacherForm.get('password')?.hasError('minlength')) {
          <mat-error>
            Hasło musi mieć co najmniej 6 znaków
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Potwierdź hasło</mat-label>
        <input matInput id="confirmPassword" formControlName="confirmPassword" placeholder="Potwierdź hasło" type="password" />
        @if (registerTeacherForm.get('confirmPassword')?.hasError('passwordMismatch')) {
          <mat-error>
            Hasła nie są takie same
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Imię</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nazwisko</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Płeć</mat-label>
        <mat-select formControlName="gender">
          @for (gender of genders; track gender) {
            <mat-option [value]="gender">
              {{ gender }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        @if (registerTeacherForm.get('email')?.hasError('email')) {
          <mat-error>
            Wprowadź prawidłowy email
          </mat-error>
        }
        @if (registerTeacherForm.get('email')?.hasError('emailTaken')) {
          <mat-error>
            Ten email jest już zajęty
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Telefon</mat-label>
        <input matInput formControlName="phone" />
        @if (registerTeacherForm.get('phone')?.hasError('pattern')) {
          <mat-error>
            Telefon musi zawierać 9 cyfr
          </mat-error>
        }
        @if (registerTeacherForm.get('phone')?.hasError('phoneTaken')) {
          <mat-error>
            Ten numer telefonu jest już zajęty
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Stawka godzinowa</mat-label>
        <input matInput type="number" formControlName="hourlyRate" />
        @if (registerTeacherForm.get('hourlyRate')?.hasError('min')) {
          <mat-error>
            Stawka godzinowa musi być większa lub równa 0
          </mat-error>
        }
      </mat-form-field>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Anuluj</button>
    <button mat-raised-button color="primary" [disabled]="registerTeacherForm.invalid">
      Zarejestruj
    </button>
  </mat-dialog-actions>
</form>
