<div class="form-container">
  <h1>Wyślij prośbę do nauczycieli</h1>
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="text" matInput placeholder="Wybierz ucznia*"
        [matAutocomplete]="studentAuto" formControlName="student" required>
      <mat-autocomplete #studentAuto="matAutocomplete" [displayWith]="displayStudent">
        @for (student of filteredStudents | async; track student) {
          <mat-option [value]="student">
            {{ student.id }} - {{ student.firstName }} {{ student.lastName }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Wybierz przedmiot*"
        [matAutocomplete]="subjectAuto" formControlName="subject" required>
      <mat-autocomplete #subjectAuto="matAutocomplete" [displayWith]="displaySubject">
        @for (subject of filteredSubjects | async; track subject) {
          <mat-option [value]="subject">
            {{ subject.subjectName }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-checkbox formControlName="repeat">Powtarzać zajęcia?</mat-checkbox>

    @if (requestForm.get('repeat')?.value) {
      <mat-form-field>
        <input matInput [matDatepicker]="datepicker" placeholder="Wybierz datę zakończenia" formControlName="repeatUntil">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
    }

    <mat-checkbox formControlName="prefersIndividual">Preferuje indywidualne zajęcia</mat-checkbox>

    <mat-form-field>
      <mat-label>Preferencje lokalizacji zajęć</mat-label>
      <mat-select formControlName="prefersLocation" required>
        <mat-option [value]="'NONE'">Brak preferencji</mat-option>
        <mat-option [value]="'ONLINE'">Preferuje zdalne</mat-option>
        <mat-option [value]="'INDIVIDUAL'">Preferuje stacjonarne</mat-option>
      </mat-select>
    </mat-form-field>


    <div class="button-group">
      <button mat-button type="button" (click)="resetForm()">Anuluj</button>
      <button mat-raised-button color="primary" type="submit">Wyślij</button>
      <button mat-raised-button color="primary" (click)="openRegisterStudent()">Utwórz nowego ucznia</button>
    </div>
  </form>
</div>
